/* PHASE 0: Reset */

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  box-sizing: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  margin: 0;
}

ul {
  list-style: none;
  cursor: hand;
}

img {
  display: block;
  height: auto;
}

a {
  display: inline-block;
  /*padding: 0 30px;*/
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {

}

button,
input[type="submit"] {

}

/* Clearfix */

.header-nav:after {
  content: "";
  display: block;
  clear: both;
}
