/* PHASE 1: Header */

body {
  font-family: roboto;
  font-size: 16px;
  font-weight: 400;
  background-color: #eee;
}

.header {
  background-color: #f00;
  white-space: 10px;
  color: white;
  display: relative;
  z-index: 1;
}

.header-nav {
  display: block;
  width: 900px;
  margin: 0 auto;
}

.header-logo {
  font-weight: 700;
  float: left;
  border-left: 1px white solid;
  border-right: 1px white solid;
}

.header-logo:hover {
  background-color: black;
}

.header-list li:hover {
  background-color: black;
}

.header-list {
  display: block;
  float: right;
  font-size: 0;
  border-right: 1px white solid;
}

.header-list li {
  position: relative;
  font-size: 16px;
  float: left;
  border-left: 1px white solid;
  margin: 0 0;
}
