/* PHASE 4: Footer */
.footer {
  display: block;
  width: 880px ;
  background-color: white;
  margin: 1px auto;
  padding: 10px;
  color: #ccc;
  white-space: 10px;
}
.footer-credits {
  float:left;
  padding: 10px;
  font-size: 14px;
}
.footer-list {
  display: block;
  float: right;
  color: #ccc;
  font-size: 0;
}

.footer-list li {
  position: relative;
  float: left;
  font-size: 14px;
}

.footer-list li:hover {
  color: #aaa;
}
