/* PHASE 6: Sidebar */
.profile-picture {
  position:absolute;
  top: -100px;
  height: 200px;
  width: 200px;
  border-radius: 5px;
  border: 1px black solid;
  
}

.profile-picture-link {
  padding:0;
}

.sidebar-name {
  font-weight: 700;
  font-size: 24px;

}

.sidebar-bio {

}

.sidebar-items {

}
